.container{
    grid-area: Information ;
    width: 800px;
    background-color: black;
    border-radius: 0.2rem;
    height: 600px;
    transition: opacity 0.3s ease-in-out;
}

.container h4 {
    color: rgb(57, 189, 241);
    margin: 20px;
    font-size: x-large;
    font-weight: 900;
    text-align: left;
}
.container p {
    color: white;
    margin: 20px;
    font-size: medium;
    font-weight:700;
    text-align: left;
}
.container b{
    color:rgb(255, 153, 0);
}

ul{
    margin: 20px;
}